{% extends "base.html" %}
{% block layout %}
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1595869790630875',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12">
    <header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="/"><h1>Convert-a-picture-o-matic</h1></a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
    </header>
    <article>
        {% block body %}{% endblock %}
    </article>
    <div class="col-xs-2">
</div>
    <footer>
    <p>Built for GaTech CS6475/Spring2015 by Tim Nummy; v0.3 beta</p>
    </footer>
</div>
</div>
</div>
</body>
{% endblock %}